footer {
    background-color: black;
        .container{
            .top-menu ul li {
            color: white;
            }

    
            .header-logo {
            color: white;
            }
    }
    
}